{% extends 'base.html.twig' %}

{% block title %}Mes Projets{% endblock %}

{% block body %}
<div class="portfolio">

    <div class="h-center home-title">
        <h1>
            Portfolio
        </h1>
    </div>
    <div class="container-fluid">
        <div class="">
            <div class="h-center">
                <div class="project-body">
                    {% for project in projects %}
                        <div class="row justify-content-between">
                            <div class="m-5 project-summary justify-content-center">
                                <a href="" class="" data-toggle="modal" data-target="#modal-{{ project.id }}">
                                    <img class="project-img justify-content-center" src="/uploads/{{ project.poster.name }}" alt="{{ project.poster.name }}">
                                </a>
                                <div class="title-band"> {{ project.name }} </div>
                            </div>
                        </div>
                        <div class="modal fade" id="modal-{{ project.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="pt-2 pr-2">
                                        <button type="button" class="text-right close" data-dismiss="modal" aria-label="Close">
                                            <i class="far fa-times-circle"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row d-flex justify-content-center pb-4">
                                            <div class="project-modal col-10 pb-4 text-center">
                                                <div class="pb-2">
                                                    <h2 class="pb-1 project-title">{{ project.name }}</h2>
                                                </div>

                                                <div class="pt-2">
                                                    {% for technology in project.technologies %}
                                                        <i class="{{ technology.logo }} fa-2x"></i>
                                                    {% endfor %}
                                                </div>
                                                <div class="mt-2">
                                                    <div class="pb-1">
                                                        <h5>dernière mise à jour :</h5>
                                                        {{ project.updatedAt|date("d/m/Y") }}
                                                    </div>
                                                    <div class="py-4">
                                                        <a class="link" href="https://{{ project.link }}" target="_blank">Lien vers l'application</a>
                                                    </div>
                                                </div>
                                                <div class="pt-3 pb-3">
                                                    <h5>Description :</h5>
                                                    <p class="col">
                                                        {{ project.description }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex container-fluid justify-content-end">
                                        {% if is_granted('ROLE_ADMIN') %}
                                            {{ include('admin/_delete_project.html.twig') }}
                                            <a href="{{ path('admin_project_edit', {'id': project.id}) }}"><i class="fas fa-edit fa-2x"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
